In [1]:
from util.db.mysql_util import MysqlUtil

In [2]:
mysql_util = MysqlUtil("book_store")

In [3]:
mysql_util.dataframe_from_mysql("user")

,user_id,email,password,created_date,last_modified_date
0,1,twcch1218@gmail.com,e10adc3949ba59abbe56e057f20f883e,2024-05-26 20:20:22,2024-05-26 20:20:22
1,2,test@gmail.com,e10adc3949ba59abbe56e057f20f883e,2024-05-26 21:51:44,2024-05-26 21:51:44
2,3,test1@gmail.com,e10adc3949ba59abbe56e057f20f883e,2024-05-29 20:15:17,2024-05-29 20:15:17
3,4,test2@gmail.com,e10adc3949ba59abbe56e057f20f883e,2024-05-29 20:15:24,2024-05-29 20:15:24
4,5,test3@gmail.com,e10adc3949ba59abbe56e057f20f883e,2024-05-29 20:15:40,2024-05-29 20:15:40
5,6,test4@gmail.com,e10adc3949ba59abbe56e057f20f883e,2024-05-29 20:15:54,2024-05-29 20:15:54